@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body { font-family: "Poppins";
 }
.header-top {
    
    margin-top: 30px;
border-bottom: 1px solid #bcb6b6;}
.header{
display: flex;
    justify-content: center;

}

.header-top-logo {
    /* display: inline-block; */
    font-size: 30px;
    margin-right: 229px;
    margin-left: 120px; 
    margin-bottom: 17.7px;
    vertical-align: top;

}
.navigation { 
    display: inline-block;
font-size: 30px;
}

.button-log {display: inline-block;
font-size: 30px;
font-family: 'Poppins';
padding-top: 8px;
}
.top-img {
    display: inline-block;
}
.nav-item { display: inline-block;
    margin-right: 50px;

}
.sign-in { color: #ffff;
background-color: #46A358;
cursor: pointer;
padding-top: 8px;
padding-right: 17px;
padding-bottom: 7px;
padding-left: 48px;
border-radius: 6px;
margin-left: 250px;
width: 100px;
height: 35px;

}
.sign-in:hover {background-color: #30723d; }
/* .nav-link:hover { 
    background-color: #67c379;
    color: white;
    border-radius: 8px;
} */
.nav-link {color: #3D3D3D;
font-size: 16px;
max-height: 20px;
font-weight: 500;
width: 100px;}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F580;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    /* width: 100%;
    max-width: 1250px ; */
}

.nazva {
    padding-top: 68px;
    margin-left: 43px;
    display: inline-block;
}
.slogan {
    max-width: 530px;
    max-height: 140px;
    font-size: 70px;
    padding-left: 40px;
    padding-top: 11px;
    color: #3D3D3D;
    font-weight: 900;
    letter-spacing: 10%;
    
}
.Planet { color: #46A358; 
}
.description {
    max-width: 557px;
    max-height: 45px;
padding-top: 18px;
padding-left: 43px;
color: #727272;
font-weight: 400;

}


.shop-now,
.shop-now1 {
    background-color: #46A358;
    color: #ffff;
    width: 140px;
    border-radius: 6px;
    cursor: pointer;
    padding: 11px 27px 9px 26px;

}
.shop-now1:hover,
.shop-now:hover { background-color: #30723d;}
.button-shop {
    margin-top: 50px;
    margin-left: 41px;
}

.plant { 
    display: inline-block;
max-width: 507px;
max-height: 450px;
margin-left: 93px;
margin-right: 120px;
}
/* .text {display: inline-block;} */
.categories {
  
    display: inline-block;
    margin-top: 171px;
margin-left: 135px;
color: #3D3D3D;
background-color: #FBFBFB;
max-width: 310px;
max-height: 774px;
padding: 14px 189px 377px 18px

}
.nav-linkpl {
    color: #3D3D3D;
line-height: 40px;
  font-size: 15px;
  line-height: 40px;
  
}
.nav-shop{
    width: 160px;
}
.nav-linkpl:hover {color: #46A358;

    /* line-height: 40px; */
    font-weight: 700; 
/* font-size: 15px; */
}
.name { 

    font-weight: 700;
font-size: 18px;
line-height: 16px;}
.nav-plant{
    line-height: 40px;
}
.sale{
    margin-left: 106px;
    display: flex;
}

.menu-categ{ display: inline-block; }
.left-menu { display: inline-block;
    
}
.menu {
margin-top: 171px; 
margin-left: 50px;
font-size: 15px;
font-family: "Poppins";
font-weight: 700;
font-size: 15px;
line-height: 16px;
}
.sorting{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
}
.ul-menu { display: flex;
margin-right: 385px;}
.nav-menu{
    display: flex;
    height: 23px;
}
.size{
    margin-top: 46px;
}
.menu-choice { 
    display: inline-block;
    white-space: nowrap;
    margin-right: 37px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.menu-choice:hover{ 
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 700;
    color: #46A358;
}


.asortiment { 
  display: flex;
  flex-wrap: wrap;          
  justify-content: flex-start; 
  gap: 70px 33px;         
  max-width: 1000px;        
  margin-top: 31px; 
  margin-left: 50px;        
}

.plant-photo { 
  background-color: #F5F5F580;
  max-width: 250px;   
  height: 300px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}
.price{
    display: inline-block;
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}
.plant-name { 
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 12px;
}
.shop {
    display: flex;
    justify-content: center;
}
.stranica {
    display: flex;
    gap: 10px;
    color: #3D3D3D;
    justify-content: flex-end;
   
}

.number:hover {
    background-color: #46A358;
    color: white;
    font-weight: 700;

}
.number{
    color: #3D3D3D;
    border: 1px solid #bcb6b6;
    border-radius: 4px;
    padding: 9px 12px 10px 13px;
}
     
.stranica-nomer{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 90px;
    
}
.pngwing {
    max-width: 16px;
    max-height: 16px;
}
.summer-cactus{
    padding-top: 52px;
    display: flex;
    background-color: #F5F5F580;
    max-width: 586px;
max-height: 250px;
margin-top: 50px;
}
.pict{
    max-width: 287px;
    max-height: 292px;
display: inline-block;

margin-top: -100px;
}
.sc{
font-weight: 900;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
margin: -20px 20px 9px 119px ;
}
.container{  
    margin-top: 121px;
    /* margin-left: 119px; */ 
}
.frame-1-2{
    gap: 28px;
    display: flex;
    justify-content: center;
}
.description1, .description2{
color: #727272;
font-weight: 400;
font-size: 14px;
}
.description1{
    margin-top: 15px;
    text-align: center;
}
.button-shopnow1{
    display: flex;
    align-items: end;
    justify-content: end;
}
.shop-now1{
    /* display: inline-block;
   
    margin-left: 129px; */
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 30px;
 margin-top: 25px;
}
.stati{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
    margin-top: 35px;
}
.advertisement{
    margin-top: 138px;
}
.title{
    color: #3D3D3D;
font-weight: 700;
font-size: 30px;
line-height: 16px;
text-align: center;
}
.picadver{
    max-width: 268px;
max-height: 195px;
}
.description2{
    width: 242px;
height: 44px;
}
.data{
    color: #46A358;
    margin-top: 9px;
}
.pic{
    background-color: #F5F5F580;
}
.readmore{
    color: #3D3D3D;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.cactus{
    color: #3D3D3D;
font-weight: 600;
font-size: 20px;
max-width: 189px;
max-height: 52px;
margin-top: 4px;
margin-bottom: 14px;

}
.o-chem{
margin-left: 15px;}

.sub-navigation-link{
    color: #3D3D3D;
    font-size: 16px;
    padding-left: 14px;
   
}
.nav-item{
     position: relative;  
}
.menu-choice:hover,
.nav-item:hover .nav-link{
      border-bottom: 3px solid #46A358;
   text-shadow: 0.5px 0px 0px; 
   /* font-weight: bold;
   content: "";
   position: absolute;
   bottom: 0;
   background-color:#46A358;
   height: 3px;
   width: 100%; */
}

.sub-navigation{
    position: absolute;
    display: none;
    padding-top: 37px;
   background-clip: content-box;
}
.nav-item:hover .sub-navigation{
    display: block;
    background-color: #EDF6EE;
color: #3D3D3D;
width: 188px;
height: 165px;
}
 .more, .sub-navigation-link:hover{
    color:#30723d;
}
.more{   
    display: inline-block;
    margin-left: 89px;
    font-size: 16px;
}
 .sub-navigation2{
     position: absolute;
  left: 100%; 
  display: none;
  background-color: #EDF6EE;
    top: 0;
   padding-left: 20px;
   background-clip: content-box;
  
}

.sub-navigation-link-priming:hover{
    color:#30723d;
}
.sub-navigation-link-priming{
    padding-left: 14px;
}

 .sub-navigation-item:hover .sub-navigation2 {
  display: block; 
  background-color: #EDF6EE;
color: #3D3D3D;
width: 188px;
}

 .sub-navigation-item{
    position: relative;
    
} 
 .sub-navigation-link-priming{
    color: #3D3D3D;
    font-size: 16px;
 }
.svg-picture:hover{
    fill: red;
    cursor: pointer;
}

.svg {fill: #30723d;
background-color: #46A358;}
.basket ,
.heart,
.search {
    color: #3D3D3D;
    cursor: pointer;
}
.plant-card{
    position: relative;
    /* background-color: #F5F5F580; */
}
.discount{
    /* z-index: 1; */
    position: absolute;
    top: 14px;
    left: 0px;
}
.first-price{
    display: inline-block;
    padding-left: 16px;
     text-decoration: line-through;
color: #A5A5A5;
}
.frame{
    /* display: flex; */
    display: none;
    position: absolute;
    bottom: 57px;
}
.plant-card:hover .frame{
    display: flex;
     gap: 26px;
}
 .subtitle{
    color: #3D3D3D;
font-weight: 700;
font-size: 17px;
 }
 .fotter-first-div{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color:#FBFBFB;
    max-width: 1222px;
/* max-height: 250px; */
padding: 24px 25px;
text-align: left;

 }
 .join-box{
display: flex;
margin-top: 25px;
 }
 .enter-email{
    font-size: 16px;
padding: 12px 12px 12px 11px;
    border-radius: 6px 0 0 6px;
 }
 .join{
     background-color: #46A358;
     color: #ffff;
     padding: 12px 25px;
     border-radius: 0 6px 6px 0;
     font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
 }
 .join:hover {
cursor: pointer;
background-color: #30723d;
 }
 .description4,
 .description3{
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    margin-top: 9px;
    max-width: 204px;
max-height: 66px;
line-height: 22px;
 }
  .description4{
    /* color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-top: 9px; */
max-width: 354px;
max-height: 89px;

 }
 .subtitle{
    margin-top: 16px;
 }
 
.fotter-second-div{
    display: flex; 
gap: 155px;
width: 1222px;
text-align: center;
height: 88px;
background-image: linear-gradient( to right, #EDF6EF, #52C368);

}
.contacts{
    display: flex;
    gap: 155px;
}
.header-top-logo2{
    
}
.nav-list-contacts{
    display: flex;
    gap: 155px;
    justify-content: center;
    align-items: center;
  
}
.nav-item-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link-contact{
    margin-right: 9px;
}
.text-contact{
    color:#3D3D3D;
    white-space: normal; 
  display: inline-block; 
  /* width: 180px;  */
  line-height: 22px;
 
}
.logo2{
    margin-top: 27px;
    margin-left: 23px;
}
.fotter-categories{
    background-color: #FBFBFB;
display: flex;
justify-content: space-between;
width: 1222px;
padding-right: 155px;
padding-left: 25px;
padding: 33px 155px 27px 25px;
}
.name{
    color: #3D3D3D;
}
.icon-social-medias{
cursor:pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #46A35833;
    border-radius: 4px;
    display: flex;
       align-items: center;
    justify-content: center;
}
.icons-of-sm{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 33px;
    align-items: center;
    justify-content: center;
}
.different-cards{
    margin-top: 13px;
}
.container2{
    /* display: flex; */
    justify-content: center;
    padding-top: 80px;
padding-left: 120px;
}
footer{
    display: flex;
    justify-content: center;
}
.form-registration{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.inform-place{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.details-information{
    border: 1px solid #EAEAEA;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
.enter-details{padding: 12px 224px 12px 14px;}
.sign-in a{
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
}
/* .enter-details{
    display: flex;
    flex-direction: column;} */

/* .details-information{
    display: flex;
flex-direction: column;
row-gap: 16px;} */