@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body { font-family: "Poppins";
 }
.header-top {
    margin-top: 30px;
border-bottom: 1px solid #bcb6b6;}


.header-top-logo {
    display: inline-block;
    font-size: 30px;
    margin-right: 229px;
    margin-left: 120px; 
    margin-bottom: 17.7px;
    vertical-align: top;

}
.navigation { display: inline-block;
font-size: 30px;}
.button-log {display: inline-block;
font-size: 30px;
font-family: 'Poppins';
padding-top: 8px;
}
.top-img {
    display: inline-block;
}
.nav-item { display: inline-block;
    margin-right: 50px;
    
}
.sign-in { color: #ffff;
background-color: #46A358;
cursor: pointer;
padding-top: 8px;
padding-right: 17px;
padding-bottom: 7px;
padding-left: 48px;
border-radius: 6px;
margin-left: 250px;
width: 100px;
height: 35px;

}
.sign-in:hover {background-color: #30723d; }
.nav-link:hover { 
    background-color: #67c379;
    color: white;
    border-radius: 8px;
}
.nav-link {color: #3D3D3D;
font-size: 16px;
max-height: 20px;
font-weight: 500;}

.about {
    background-color: #F5F5F580;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
}

.nazva {
    padding-top: 68px;
    margin-left: 43px;
    display: inline-block;
}
.slogan {
    max-width: 530px;
    max-height: 140px;
    font-size: 70px;
    padding-left: 40px;
    padding-top: 11px;
    color: #3D3D3D;
    font-weight: 900;
    letter-spacing: 10%;
    
}
.Planet { color: #46A358;
    
}
.description {
    max-width: 557px;
    max-height: 45px;
padding-top: 18px;
padding-left: 43px;
color: #727272;
font-weight: 400;

}


.shop-now {
    background-color: #46A358;
    color: #ffff;
    width: 140px;

border-radius: 6px;
cursor: pointer;
padding: 11px 27px 9px 26px;

}

.shop-now:hover { background-color: #30723d;}
.button-shop {
    margin-top: 50px;
    margin-left: 41px;
}

.plant { 
    display: inline-block;
max-width: 507px;
max-height: 450px;
margin-left: 93px;
margin-right: 120px;
}
.text {display: inline-block;}
.categories {
    display: inline-block;
    margin-top: 171px;
margin-left: 135px;
color: #3D3D3D;
background-color: #FBFBFB;
max-width: 310px;
max-height: 774px;
padding: 14px 189px 377px 18px

}
.nav-linkpl {color: #3D3D3D;}
.nav-linkpl:hover {color: #46A358;
    line-height: 40px;
    font-weight: 700;
opacity: 1;
font-size: 15px;
}
.name { 

    font-weight: 700;
font-size: 18px;
line-height: 16px;}
.nav-plant{
    line-height: 40px;
}
.sale{
    margin-left: 106px;
    display: flex;
}

.menu-categ{ display: inline-block; }
.left-menu { display: inline-block;
}
.menu {
margin-top: 171px; 
margin-left: 50px;
font-size: 15px;
font-family: "Poppins";
font-weight: 700;
font-size: 15px;
line-height: 16px;
}
.sorting{
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
}
.ul-menu { display: flex;
margin-right: 385px;}
.nav-menu{
    display: flex;
}
.menu-choice { 
    display: inline-block;
    white-space: nowrap;
    margin-right: 37px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
}
.menu-choice:hover { 
    
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 700;
    color: #46A358;
}


.asortiment { 
  display: flex;
  flex-wrap: wrap;          
  justify-content: flex-start; 
  gap: 70px 33px;         
  max-width: 1000px;        
  margin-top: 31px; 
  margin-left: 50px;        
}

.plant-photo { 
  background-color: #F5F5F580;
  max-width: 250px;   
  max-height: 250px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}
.price{
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}
.plant-name { 
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 12px;
}
.shop {
    display: flex;
}
.stranica {
    display: flex;
    gap: 10px;
    color: #3D3D3D;
    justify-content: end;
   
}

.number:hover {
    background-color: #46A358;
    color: white;
    font-weight: 700;

}
.number{
    color: #3D3D3D;
    border: 1px solid #bcb6b6;
    border-radius: 4px;
    padding: 9px 12px 10px 13px;
}
     
.stranica-nomer{
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}
.pngwing {
    max-width: 16px;
    max-height: 16px;
}